/*Header*/

header {
    text-align: center;
    background-image: url(images/astronomy-2179083__340.jpg);
    background-repeat: no-repeat;
    z-index: 100;
    position: absolute;
    width: 100%;
    margin-top: 10%;
}

h1 {
    margin: auto;
}

/*Navigation*/


#navigation nav {
    margin: 0%;
    width: 100%;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    background-color: black;
}

#navigation nav li {
    min-width: 5%;
    min-height: 48%;
    padding: 0.3%;
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
    background-color: aquamarine;
}

#navigation nav li a {
    text-decoration: none;
}

/*Footer*/

#footer {
    max-width: auto;
    max-height: auto;
    padding: auto;
    background-color: grey;
}