header {
    width: 100%;
}

body {
    background-image: url("../assets/images/mainBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #986E24;
    font-size: 2px;
  }
  
  a:visited {
    color: #707070
  }

/*Navigation*/

#navigation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    /*position: fixed;*/
    z-index: 999;  
}

#navigation nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

#navigation nav li {
    
    width: 10%;
    height: auto;
    border: 2px solid #986E24;
    border-radius: 5px;
    text-align: center;
}

nav li a {
    font-size: auto;
}


/*Sections Images*/

.logos {
    height: 94px;
    background-repeat: no-repeat;
    background-size: contain;
}

#chora {
    background-image: url("../assets/images/CHORA.png");
}

#choraNoBg {
    background-image: url("../assets/images/chora-nobg.png");
}

#cdc {
    background-image: url("../assets/images/ambasador.png"); 
}

#cac {
    background-image: url("../assets/images/Airforce.png");   
}

#rtc {
    background-image: url("../assets/images/Transport.png");   
}

#demp {
    background-image: url("../assets/images/mining.png");  
}

#dimr {
    background-image: url("../assets/images/repair.png");  
}

#dse {
    background-image: url("../assets/images/explo.png");  
}

#dsr {
    background-image: url("../assets/images/scientist.png");
}

#smh {
    background-image: url("../assets/images/medic.png");
}

/*Footer*/

footer {
    width: 100%;
    height: 200px;
    background-image: url("../assets/images/plaque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
    color: #707070;
}

#mbcLogo {
    width: 4%;
    height: 74px;
    margin: 100px 40px 0px 95.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/FanKit/03_LOGOS/MadeByTheCommunity_Black.png");
    background-repeat: no-repeat;
    background-size: contain;
}