#container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
    z-index: 1;
    width: 100%;
    height: 100%; 
}

/*.videoInsert {
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}*/

.imageInsert {
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: contain;
    overflow: hidden;
}

#headerImage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: auto;
    background-image: url("../assets/images/bkimg.png");
    background-size: contain; 
    z-index: -100;  
}

.logosContainer {
    width: 100%;
    height: 15%;
    background-color:brown;
    display: flex;
    justify-content: space-around;
    margin-top: -0.2%
}