/*Common propreties*/

#bannerContainer {
    position: absolute;
    width: 100%;
    margin-top: 1.9%;
}

.banners {
    width: 100%;
    max-width: 100%;
    display: flex;
}

/* General Display */

.leftBanner {
    flex-direction: row;
    flex-wrap: wrap;
}

.rightBanner {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

/* Internal Layout */

.bannerImage {
    width: 10%;
    padding: 1%,1%,1%,1%;
    display: flex;
    justify-content: center;
    background-color: green;
}

.bannerTitle {
    margin: 0%;
    padding: 1%;
    width: 24%;
    min-width: 10%;
    padding-top: 1%; 
    background-color: orange;
}

.bannerTitle ul {
    width: 100%;
    height: 28%;
    padding: 1% 0% 1% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.bannerTitle li {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: blanchedalmond;
}

.bannerTitle h2 {
    margin: 0.5%;
    padding: 5% 5% 5% 5%;
    text-align: center;
    background-color: aqua;
}

.bannerDescription {
    margin: 0%;
    padding: 1%;
    width: 60%;
    min-width: 10%;
    z-index: -999;
    padding-top: 1%; 
    background-color: powderblue;
}

.bannerDescription p {
    margin: 0.5%;
    padding: 5% 0% 5% 0%;
    text-align: center;
    background-color: red;
}

/*Images*/

#cdc {
    background-image: url("../assets/images/ambasador.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 90%;
    height: auto;
}

#cac {
    background-image: url("../assets/images/Airforce.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 90%;
    height: auto;
}

#rtc {
    background-image: url("../assets/images/Transport.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 90%;
    height: auto;
}

#demp {
    background-image: url("../assets/images/mining.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 90%;
    height: auto;
}

#dimr {
    background-image: url("../assets/images/repair.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 90%;
    height: auto;
}

#dse {
    background-image: url("../assets/images/explo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 90%;
    height: auto;
}

#dsr {
    background-image: url("../assets/images/scientist.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 90%;
    height: auto;
}

#smh {
    background-image: url("../assets/images/medic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 90%;
    height: auto;
}




/* transition*/

.banners:hover .leftBannerDescription {
    -webkit-transition: 2s;
    transition: 3s;
    margin-right: 0%;
}

.banners:not(:hover) .leftBannerDescription {
    -webkit-transition: 2s;
    transition: 2s;
    margin-left: -62%;
}

.banners:hover .rightBannerDescription {
    -webkit-transition: 2s;
    transition: 3s;
    margin-left: 0px;
}

.banners:not(:hover) .rightBannerDescription {
    -webkit-transition: 2s;
    transition: 2s;
    margin-right: -62%; 
}









